*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-size: 11px !important;
}

h1 {
  font-size: 24px;
}

h6 {
  display: inline;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 80% auto;
  grid-template-rows: 50% 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  /* border: 3px solid black; */
  margin-top: -20px;
  height:95vh;
}

.sideWrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 50% 50%;
  height:92vh;
  max-height: 92vh;
}

.leftWrapper {
  display: grid;
  height:93vh;
  max-height: 93vh;
}

.box {
  color: black;
  background: #FAFAFA;
  border: 1px solid #ADADAD;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 20px;
}

.animalDet {
  grid-row: 2/1 span;
}

.cal {
  align-content: stretch;
  grid-row: 1/2 span;
  height: 93vh;
}

.item3 {
  grid-row: 1/1 span;
}

.search {
  grid-row: 1/1 span;
  height: 46vh;
}

.item4 {
  grid-row: 2/1 span;
}

.profileButton {
  background: #D7E8F7;
  color: #299CF5;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 5px;
}

.profileButton:hover {
    background-color: royalblue;
    color: #FAFAFA;
}

.profileButtonPanel {
  display: flex;
  align-items: center;
  justify-content: center;
}
