@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Lato-Bold;
  font-size: 24px;
  color: #000000;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 75% auto;
  grid-template-rows: 50% 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  /* border: 3px solid black; */
  margin-top: -20px;
  height:94vh;
}

.sideWrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 50% 50%;
  height:92vh;
  /* border: 3px solid black; */
}

.leftWrapper {
  display: grid;
  height: calc(100% + 10px);
  /* border: 3px solid black; */
  height:93vh;
}

.box {
  color: black;
  background: #FAFAFA;
  border: 1px solid #ADADAD;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 20px;
}

.animalDet {
  grid-row: 2/1 span;
}

.cal {
  align-content: stretch;
}

.item3 {
  grid-row: 1/1 span;
}

.search {
  grid-row: 1/1 span;
}

.item4 {
  grid-row: 2/1 span;
}
